
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-danger mb-1 p-2 text-white">
    Erişim hakkınız yok.
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Home</a>

